


<%= stylesheet_link_tag "home" %>
<% @page_title = "Models" %>

<div class="models index">
  <% if admin_signed_in? %>
    <%= link_to(" Add New Model", {:action => 'new'}, :class => 'action new') %>
  <% end %>
    <% @models.each do |model| %>
      <div class="box"> 
        <%= link_to image_tag(model.image(:medium)), {:action=>'show', :id=>model.id} %><br/>
        <p><%= model.name %> from </p><p><%= model.location %></p>
        <% if admin_signed_in? %>
          <p><%= model.position %></p>
        <% end %>
      </div>
    <% end %>
</div>